<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Alerts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--header-->
<div th:replace="header :: header"></div>

<!--sidebar-->
<header th:replace="sidebar :: sidebar"></header>

<main th:replace="main-alerts :: main"></main>

<!--footer-->
<footer th:replace="footer :: footer"></footer>

<!--back-to-top button-->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/main.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function() {
        // Get the selected element
        var select = document.getElementById("Filter");

        // Add a change event listener to select the element
        select.addEventListener("change", function() {
            // Get the selected option
            var selectedOption = this.value;
            console.log("Selected Option:", selectedOption);

            //Get all the alert boxes
            var alertBoxes = document.querySelectorAll(".alert-box");

            // Loop through each alert box
            alertBoxes.forEach(function(alertBox) {
                // Get the alert type
                var alertType = alertBox.querySelector("td:nth-child(2)").textContent.trim();

                // Check if the selected option is "All"
                if (selectedOption === "All") {
                    alertBox.style.display = "flex";
                }
                // Check if the selected option is "Low Stock"
                else if (selectedOption === alertType) {
                    alertBox.style.display = "flex";
                }
                else {
                    alertBox.style.display = "none";
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>
