<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Title of the page -->
    <title>Rakusens</title>
</head>
<body >
<!-- ======= Footer ======= -->
<!-- This is the footer fragment that can be included in other Thymeleaf templates -->
<footer th:fragment="footer" id="footer" class="footer">
    <!-- This div contains the copyright notice -->
    <div class="copyright">
        &copy; Copyright <strong><span>Rakusens</span></strong>. All Rights Reserved
    </div>
    <!-- This div contains the credits -->
    <div class="credits">
        <!-- Link to the team's GitHub page -->
        Designed by
        <a href="https://cos5019-b-2023-4-team-3.github.io/">Team-3</a>
    </div>
</footer><!-- End Footer -->
</body>
</html>