<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rakusens</title>
</head>
<body >
<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Rakusens</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by
        <a href="https://cos5019-b-2023-4-team-3.github.io/">Team-3</a>
    </div>
</footer><!-- End Footer -->
</body>
</html>