<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rakusens</title>
  <!-- Vendor CSS Files -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">

  <!-- ApexCharts CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.css " rel="stylesheet">
  <!-- Quill CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.min.css " rel="stylesheet">
  <!-- Simple Datatables CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/simple-datatables@9.0.0/dist/style.min.css " rel="stylesheet">
  <!-- TinyMCE CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/tinymce@6.8.3/skins/ui/oxide/content.min.css " rel="stylesheet">

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body th:fragment="body">

<div sec:authorize="hasAuthority('ADMIN')" th:replace="header-admin :: header"></div>
<div sec:authorize="hasAuthority('EMPLOYEE')" th:replace="header-employee :: header"></div>
<div sec:authorize="hasAuthority('EXTERNAL')" th:replace="header-vendor :: header"></div>
<div sec:authorize="hasAuthority('ADMIN')" th:replace="sidebar-admin :: sidebar"></div>
<div sec:authorize="hasAuthority('EXTERNAL')" th:replace="carousel-vendor :: carousel"></div>


<main sec:authorize="hasAuthority('ADMIN')" th:replace="main-admin :: main" id="main" class="main">



</main>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src=" https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/quill@1.3.7/quill.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/simple-datatables@9.0.0/dist/umd/simple-datatables.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/tinymce@6.8.3/tinymce.min.js "></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script th:inline="javascript">
  $(document).ready(function() {
    $('.slick-carousel').slick({
      // Slick Carousel options
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      prevArrow: '<button type="button" class="slick-prev"><i class="fas fa-chevron-left"></i></button>',
      nextArrow: '<button type="button" class="slick-next"><i class="fas fa-chevron-right"></i></button>',
      speed: 500
    });
  });
</script>

<!-- Dropdown toggle -->
<script th:inline="javascript">
  $(document).ready(function() {
      // Hide dropdown menus by default
      $('.dropdown-menu').hide();

      // Delegated event handling for dropdown toggle
      $(document).on('click', '.nav-link.nav-icon', function(e) {
          e.preventDefault();
          var dropdownMenuClass = $(this).attr('data-dropdown-menu-class');
          // Hide all dropdown menus except the one that corresponds to the clicked icon
          $('.dropdown-menu').not('.' + dropdownMenuClass).hide();
          // Toggle visibility of the dropdown menu
          $(this).closest('.dropdown').find('.dropdown-menu').toggle();
      });

      // Event handling for profile dropdown toggle
      $(document).on('click', '.nav-link.nav-profile', function(e) {
          e.preventDefault();
          var dropdownMenuClass = $(this).attr('data-dropdown-menu-class');
          // Hide all dropdown menus except the one that corresponds to the clicked icon
          $('.dropdown-menu').not('.' + dropdownMenuClass).hide();
          // Toggle visibility of the profile dropdown menu
          $(this).closest('.dropdown').find('.dropdown-menu').toggle();
      });

      // Close dropdown when clicking outside of it
      $(document).click(function(e) {
          if (!$(e.target).closest('.dropdown').length) {
              $('.dropdown-menu').hide();
          }
      });
  });
</script>




</body>
</html>
