<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Alerts</title>
</head>
<body>

<main th:fragment="main" class="main" id="main">
    <div class="alert-grid">
        <h1>Notifications</h1>
        <hr>
        <h4 style="color: #29318C;">Product Details</h4>
        <div>
                <div class="notification">
                    <div class="card-body">
                        <table class="table table-borderless datatable">
                            <thead>
                            <tr style="border-bottom: 1px solid #dee2e6;">
                                <th scope="col">Alert ID</th>
                                <th scope="col">Alert Type</th>
                                <th scope="col">Alert Message</th>
                                <th scope="col">Alert Timestamp</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">#</th>
                            </tr>
                            </thead>
                            <div th:each="alert: ${alerts}" class="alert-box" >
                            <tbody>
                            <tr style="border-bottom: 1px solid #dee2e6;">
                                <td th:text="${alert.id}"></td>
                                <td th:text="${alert.type}" style="color: red;">Alert Type</td>
                                <td th:text="${alert.message}">Alert Message</td>
                                <td th:text="${alert.timestamp}">Alert Timestamp</td>
                                <td th:text="${alert.prod_id}">Product ID</td>
                                <td><button class="view-alert-btn">View Details</button></td>
                            </tr>
                            </tbody>
                        </table>




                </div>
                </div>
          </div>
        </div>
    </div>
</main>
</body>
</html>