<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Rakusens</title>
</head>
<body>
<!-- ======= Main ======= -->
<main th:fragment="main" id="main" class="main">
    <div style="margin-top: 60px;">
        <div>
            <a th:href="@{/orders/create}" class="btn btn-primary">Create Order</a>
            <a th:href="@{/orders/edit}" class="btn btn-primary">Edit Order</a>
            <a th:href="@{/orders/remove}" class="btn btn-primary">Remove Order</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Vendor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <div>
                        <td th:text="${order.id}">id</td>
                        <td th:text="${order.date}">date</td>
                        <td th:text="${order.status}">status</td>
                        <td th:text="${order.vendorId}">vendor</td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</main><!-- End Main -->
</body>
</html>