<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rakusens</title>
</head>
<body>
<!-- ======= Main ======= -->
<main th:fragment="main" id="main" class="main">
    <div style="margin-top: 60px;">
        <div>
            <button type="button">Search Orders</button>
            <input id="orderSearch" type="text">
            <button type="button">Create Order</button>
            <button type="button">Edit Order</button>
            <button type="button">Remove Order</button>
            <button type="button">Update Orders</button>
        </div>
        <div>
            <table class="table table-borderless datatable">
                <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Vendor ID</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</main><!-- End Main -->
</body>
</html>