<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="main">
    <div class="table-responsive" style="margin-left: 300px; margin-top: 60px;">
        <h1>Ingredients</h1>
    </div>
    <div style="overflow-y:auto;">
        <table class="table-hover">
<!--            <thead>-->

<!--                <th> Product Name </th>-->
<!--                <th> SKU code </th>-->
<!--                <th> Shelf life </th>-->
<!--                <th> Expiry date </th>-->
<!--                <th> Current stock levels</th>-->
<!--                <th> Minimum stock level </th>-->

<!--            </thead>
            </tr>/*-->

            <tbody class="rawIngredients-grid">
                <div th:each="rawIngredient : ${rawIngredients}" class="rawIngredients-box">
                    <div class="rawIngredients">
                        <h3 th:text="'Product ID: '+${rawIngredient.id}">ID</h3>
                        <p th:text="${rawIngredient.name}">Name</p>
                        <p th:text="${rawIngredient.description}">description</p>
                        <p th:text="${rawIngredient.quantity}">Quantity</p>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
        <button type="button" class="btn btn-warning" >Expiring soon!</button>
    </div>
</main>
</body>
</html>