<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="main">
    <div class="container">
        <h1>Product Listing</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="product">
                    <h2>Product 1</h2>
                    <p>Description of Product 1</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <h2>Product 2</h2>
                    <p>Description of Product 2</p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>