<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Alerts</title>
</head>
<body>

<main th:fragment="main" class="main" id="main">
    <div class="alert-grid">
        <h1>Alerts</h1>
        <hr>
        <h4 style="color: #29318C;">Product Details</h4>
        <div class="sort-by">
            <label for="Filter">Filter:</label>
            <select id="Filter">
                <option value="All">All</option>
                <option value="Low in Stock">Low in Stock</option>
                <option value="Out of Date">Out of Date</option>
                <!-- sorting options -->
            </select>
        </div>
        <div>
            <div class="notification">
                <div class="card-body">
                    <table class="table table-borderless datatable">
                        <thead>
                        <tr style="border-bottom: 1px solid #dee2e6;">
                            <th scope="col">Alert ID</th>
                            <th scope="col">Alert Type</th>
                            <th scope="col">Alert Message</th>
                            <th scope="col">Alert Timestamp</th>
                            <th scope="col">Product ID</th>
                        </tr>
                        </thead>
                            <tbody>
                                <tr th:each="alert: ${alerts}" class="alert-box"  style="border-bottom: 1px solid #dee2e6;">
                                    <td th:text="${alert.id}"></td>
                                    <td th:text="${alert.type}" style="color: red;">Alert Type</td>
                                    <td th:text="${alert.message}">Alert Message</td>
                                    <td th:text="${alert.timestamp}">Alert Timestamp</td>
                                    <td th:text="${alert.prod_id}">Product ID</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</main>
</body>
</html>