<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raw Materials</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!--  <link rel="stylesheet" href="styles.css">-->
  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">

  <link href=" https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.css " rel="stylesheet">
  <!-- Quill CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.min.css " rel="stylesheet">
  <!-- Simple Datatables CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/simple-datatables@9.0.0/dist/style.min.css " rel="stylesheet">
  <!-- TinyMCE CSS -->
  <link href=" https://cdn.jsdelivr.net/npm/tinymce@6.8.3/skins/ui/oxide/content.min.css " rel="stylesheet">
  <style>
    table {
        border-collapse: collapse;
        width: 80%;
    }
  </style>
</head>
<body th:fragment="body">
<div sec:authorize="hasAuthority('ADMIN')" th:replace="header-admin :: header"></div>
<div sec:authorize="hasAuthority('ADMIN')" th:replace="sidebar-admin :: sidebar"></div>
<footer sec:authorize="hasAuthority('ADMIN')" th:replace="footer-staff :: footer"></footer>
<!--<main sec:authorize="hasAuthority('ADMIN')" th:replace="main-admin :: main" id="main-admin" class="main"></main>-->
<!-- Include any necessary JavaScript files here -->
<!-- jQuery -->
<script src="/js/dropdown.js"></script>
<script src="/js/sidebar_toggle.js"></script>
<script src="/js/back_to_top.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src=" https://cdn.jsdelivr.net/npm/apexcharts@3.46.0/dist/apexcharts.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/quill@1.3.7/quill.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/simple-datatables@9.0.0/dist/umd/simple-datatables.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/tinymce@6.8.3/tinymce.min.js "></script>
<div class="container"></div>
<body>
<div class="table-responsive" style="margin-left: 300px">
  <h1>Raw Ingredients</h1>
  <table class="table-hover">
    <thead>
    <tr>
      <th> Product Name </th>
      <th> SKU code </th>
      <th> Shelf life </th>
      <th> Expiry date </th>
      <th> Current stock levels</th>
      <th> Minimum stock level </th>
    </thead>
    <tbody>
    </tr>
    <tr>
      <td>Product 0</td>
      <td>SKU0</td>
      <td>146</td>
      <td>2024-07-22</td>
      <td>70</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Product 1</td>
      <td>SKU1</td>
      <td>92</td>
      <td>2024-05-29</td>
      <td>46</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Product 2</td>
      <td>SKU2</td>
      <td>103</td>
      <td>2024-06-09</td>
      <td>82</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Product 3</td>
      <td>SKU3</td>
      <td>270</td>
      <td>2024-11-23</td>
      <td>98</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Product 4</td>
      <td>SKU4</td>
      <td>152</td>
      <td>2024-07-28</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Product 5</td>
      <td>SKU5</td>
      <td>118</td>
      <td>2024-06-24</td>
      <td>29</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Product 6</td>
      <td>SKU6</td>
      <td>182</td>
      <td>2024-08-27</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Product 7</td>
      <td>SKU7</td>
      <td>28</td>
      <td>2024-03-26</td>
      <td>81</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Product 8</td>
      <td>SKU8</td>
      <td>202</td>
      <td>2024-09-16</td>
      <td>39</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Product 9</td>
      <td>SKU9</td>
      <td>61</td>
      <td>2024-04-28</td>
      <td>4</td>
      <td>0</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-warning" >Expiring soon!</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<main sec:authorize="hasAuthority('ADMIN')" th:replace="main-admin :: main" id="main-admin" class="main"></main>-->
<script th:inline="javascript"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/sidebar_toggle.js"></script>
<script src="/js/back_to_top.js"></script>
</body>



