<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Pkl8x1rBJwqJCpHMk2uLW5K75zr/MXjU9fXG3fhgC9NUT+ry/1+cNemgCuyIJ/74+83MhMT6rVPtsB+1DlQbLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Navbar content -->
            <div class="d-flex justify-content-between w-100 align-items-center">
                <!-- Left side: Search bar -->
                <div>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get" id="searchForm">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                    </form>
                </div>

                <!-- Center: Logo -->
                <div class="text-center mx-auto">
                    <a class="navbar-brand" href="#">
                        <img class="logo-img" src="/img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- Right side: Logout button -->
                <div>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <button class="btn btn-outline-danger my-2 my-sm-0 ml-15" style="margin-left: 55px;" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Employee/Admin Inner header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')">
        <div class="collapse navbar-collapse justify-content-center" id="innerEmployeeHeaderNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/products">
                        <div class="icon-text-container">
                            <i class="fas fa-box fa-2x"></i><br>
                            <span>Products</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/raw_ingredients">
                        <div class="icon-text-container">
                            <i class="fas fa-cubes fa-2x"></i><br>
                            <span>Raw Ingredients</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/reports">
                        <div class="icon-text-container">
                            <i class="fas fa-chart-bar fa-2x"></i><br>
                            <span>Reports</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/external_orders">
                        <div class="icon-text-container">
                            <i class="fas fa-shopping-cart fa-2x"></i><br>
                            <span>Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/internal-orders">
                        <div class="icon-text-container">
                            <i class="fas fa-shopping-basket fa-2x"></i><br>
                            <span>Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/users-list">
                        <div class="icon-text-container">
                            <i class="fas fa-users fa-2x"></i><br>
                            <span>Users</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/vendors">
                        <div class="icon-text-container">
                            <i class="fas fa-truck fa-2x"></i><br>
                            <span>Vendors</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="/profile_settings">
                        <div class="icon-text-container">
                            <i class="fas fa-user-cog fa-2x"></i><br>
                            <span>Profile Settings</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="employeeNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-2x"></i><br>
                        <span>Notifications</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Dynamic content for notifications -->
                        <a class="dropdown-item" th:each="notification : ${notifications}" th:href="${notification.link}" th:text="${notification.message}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- External-Vendor Inner header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="hasAuthority('EXTERNAL')">
        <div class="collapse navbar-collapse justify-content-center" id="innerVendorHeaderNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-home fa-2x"></i><br>
                            <span>Home</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-utensils fa-2x"></i><br>
                            <span>Our Range</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-book fa-2x"></i><br>
                            <span>Our Story</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-store fa-2x"></i><br>
                            <span>Shop</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-leaf fa-2x"></i><br>
                            <span>Vegan</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-carrot fa-2x"></i><br>
                            <span>Vegetarian</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-star-of-david fa-2x"></i><br>
                            <span>Kosher</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-bread-slice fa-2x"></i><br>
                            <span>Gluten Free</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#">
                        <div class="icon-text-container">
                            <i class="fas fa-newspaper fa-2x"></i><br>
                            <span>News</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<body>
<script>
    document.getElementById("searchInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevent form submission
            document.getElementById("searchForm").submit(); // Manually submit the form
        }
    });
</script>
</body>

